[submodule "analyze_by_graph"]
	path = analyze_by_graph
	url = http://giteaz:3000/frida_analyze_app_src/analyze_by_graph.git
[submodule "cmd-wrap"]
	path = cmd-wrap
	url = http://giteaz:3000/bal/cmd-wrap.git
[submodule "frida_js"]
	path = frida_js
	url = http://giteaz:3000/frida_analyze_app_src/frida_js.git
[submodule "github-gitee-GITEA"]
	path = github-gitee-GITEA
	url = http://giteaz:3000/github_tool/github-gitee-GITEA.git
[submodule "app/cgsecurity--testdisk"]
	path = app/cgsecurity--testdisk
	url = https://gitee.com/disk_recovery/cgsecurity--testdisk.git